.plan-chooser {
  --color-active: hsl(198, 48%, 50%);
  width: 50%;
  margin: 0 auto;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
  text-align: left;
}

.plan-chooser li:not(:first-of-type) {
  margin-top: 0.75rem;
}

.plan-chooser li {
  --choose-plan-padding: 16px;
  --border-radius: 5px;
  padding: var(--choose-plan-padding);
  padding-bottom: calc(var(--choose-plan-padding) - 1px);
  align-items: center;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 49%;
  flex: 1 0 49%;
  -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.18);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.18);
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.plan-chooser .active {
  opacity: 1 !important;
  background: hsl(198, 60%, 95%);
  -webkit-box-shadow: inset 0 0 0 2px var(--color-active);
  box-shadow: inset 0 0 0 2px var(--color-active);
  color: #444 !important;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.plan-chooser .active .radio {
  background: var(--color-active);
}

.plan-chooser .active .radio .icon-check {
  margin: 4px;
  display: block;
  fill: #fff;
}

.plan-chooser .radio {
  --size: 20px;
  height: var(--size);
  width: var(--size);
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.plan-chooser .radio .icon-check {
  --size: 12px;
  height: var(--size);
  width: var(--size);
  display: none;
}

.choose-plan-text-wrapper {
  margin-left: 1rem;
}

.choose-plan-term {
  margin: -1px 0 3px;
  font-size: 1.25rem;
  font-weight: 500;
}

.choose-plan-term .period {
  margin-right: 10px;
  margin-bottom: 4px;
}

.choose-plan-badge {
  padding: 3px 5px;
  background: #fff;
  border: 1px solid hsla(198, 60%, 45%, 0.5);
  border-radius: var(--border-radius);
  color: var(--color-active);
  font-size: 0.6875rem;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: 17%;
}
.choose-plan-badge:last-child {
  margin-right: 0;
}

.choose-plan-price {
  opacity: 0.7;
  font-size: 0.9375rem;
}

.choose-plan-description {
  margin-left: 9px;
  opacity: 0.6;
  font-size: 0.8125rem;
}

.choose-plan-radio-wrapper,
.plan-chooser {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.choose-plan-radio-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.radio,
.radio-icon {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radio {
  height: 22px;
  width: 22px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  background: hsla(198, 1%, 93%, 0.4);
  border-radius: 100%;
}

@media handheld and (max-width: 1100px),
  screen and (max-device-width: 1100px),
  screen and (max-width: 1100px) {
  .plan-chooser {
    width: 100%;
  }
}
